<section class="section1">
  <div class="container">
    <div class="sect1-content">
      <div class="sect1-img">
        <img src="/assets/img/landing/123.png" alt="">
      </div>
      <div class="sect1-title">
        <h1>Alliance Kumite</h1>
        <span>The ultimate tournament <br> experience</span>
      </div>
    </div>
  </div>
</section>

<section class="section2">
  <div class="container">
    <div class="sect2-content">
      <p>{{'landing.moreThanTenYears' | translate}}</p>
      <p>{{'landing.thanksToKanku' | translate}}</p>
    </div>
  </div>
</section>

<section class="section3">
  <div class="container">
    <div class="sect3-content">
      <h2>{{'landing.ready' | translate}}</h2>
      <p>{{'landing.simpleProcess' | translate}}</p>
      <h2>{{'landing.workingForYou' | translate}}</h2>
    </div>
  </div>
</section>

<section class="section4">
  <div class="container">
    <div class="sect4-content">
      <div class="sect4-block">
        <!-- <img src="/assets/img/landing/free_icon_3.svg" alt=""> -->
        <img src="/assets/img/landing/www-1.png" alt="">
        <p>{{'landing.convenientNav' | translate}}</p>
      </div>
      <div class="sect4-block">
        <!-- <img src="/assets/img/landing/free_icon_2.svg" alt=""> -->
        <img src="/assets/img/landing/timer.png" alt="">
        <p>{{'landing.simpleInterface' | translate}}</p>
      </div>
      <div class="sect4-block">
        <!-- <img src="/assets/img/landing/free_icon_1.svg" alt=""> -->
        <img src="/assets/img/landing/operator-1.png" alt="">
        <p>{{'landing.noError' | translate}}</p>
      </div>
    </div>
  </div>
</section>

<section class="section5" id="about">
  <div class="container">
    <div class="sect5-content">
      <div class="sect5-title">
        <h2>{{'landing.whyUs' | translate}}</h2>
      </div>
      <div class="sect5-img">
        <img src="/assets/img/landing/desktop-all.png" alt="">
      </div>
      <div class="sect5-text">
        <span>{{'landing.knowledge' | translate}}</span>
        <p>{{'landing.forOrganizators' | translate}}</p>
      </div>
      <div class="sect5-text">
      <ul class="list" id="list-about">
        <li>{{'landing.experience25' | translate}}</li>
        <li>{{'landing.communication15' | translate}}</li>
        <li>{{'landing.competitions5' | translate}}</li>
        <li>{{'landing.realExperience' | translate}}</li>
        <li>{{'landing.softwareCertified' | translate}}</li>
      </ul>
      </div>
    </div>
  </div>
</section>

<section class="section6">
  <div class="container">
    <app-slider></app-slider>
  </div>
</section>

<section class="section7" id="functions">
  <div class="container">
    <div class="navigaonusing">
      <div class="gaonutosal">
        <h2>{{'landing.capabilities' | translate}}</h2>
        <div class="pesontedan">
          <input id="pesontedan-one" type="checkbox" name="pesontedans">
          <label for="pesontedan-one">{{'landing.preparation' | translate}}</label>
          <div class="pesontedan-content">
            <ul class="list" id="list">
              <li>{{'landing.processing' | translate}}</li>
              <li>{{'landing.automaticFormation' | translate}}</li>
              <li>{{'landing.favorites' | translate}}</li>
              <li>{{'landing.draw' | translate}}</li>
              <li>{{'landing.optimalDistribution' | translate}}</li>
              <li>{{'landing.subTournaments' | translate}}</li>
              <li>{{'landing.formingDocument' | translate}}</li>
              <li>{{'landing.notAll' | translate}}</li>
            </ul>
          </div>
        </div>
        <div class="pesontedan">
          <input id="pesontedan-two" type="checkbox" name="pesontedans">
          <label for="pesontedan-two">{{'landing.during' | translate}}</label>
          <div class="pesontedan-content">
            <ul class="list" id="list">
              <li>{{'landing.progress' | translate}}</li>
              <li>{{'landing.nextMatches' | translate}}</li>
              <li>{{'landing.otherOpportunities' | translate}}</li>
            </ul>
          </div>
        </div>
        <div class="pesontedan">
          <input id="pesontedan-three" type="checkbox" name="pesontedans">
          <label for="pesontedan-three">{{'landing.management' | translate}} </label>
          <div class="pesontedan-content">
            <ul class="list" id="list">
              <li>{{'landing.tournamentManagement' | translate}}</li>
              <li>{{'landing.automaticDuration' | translate}}</li>
              <li>{{'landing.setupMatch' | translate}}</li>
              <li>{{'landing.conduct' | translate}}</li>
              <li>{{'landing.systems' | translate}}</li>
              <li>{{'landing.kata' | translate}}</li>
              <li>{{'landing.result' | translate}}</li>
            </ul>
          </div>
        </div>
        <div class="pesontedan">
          <input id="pesontedan-four" type="checkbox" name="pesontedans">
          <label for="pesontedan-four">{{'landing.additionally' | translate}}</label>
          <div class="pesontedan-content">
            <ul class="list" id="list">
              <li>{{'landing.television' | translate}}</li>
              <li>{{'landing.broadcast' | translate}}</li>
              <li>{{'landing.documents' | translate}}</li>
              <li>{{'landing.statistics' | translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
