<div class="row">
    <div class="col-12">
        <form *ngIf="!submitted || !resetSuccessfully" class="form-control auth-form" (ngSubmit)="login()">
            <h2>{{ 'registration.forgotPassword' | translate }}</h2>

            <label class="bold mt-3" for="username">{{ 'registration.username' | translate | uppercase }}</label>
            <input
                name="username"
                [(ngModel)]="username"
                class="form-control p-2"
                type="text" />

            <label class="bold mt-3" for="email">{{ 'registration.email' | translate | uppercase }}</label>
            <input
                name="email"
                [(ngModel)]="email"
                class="form-control p-2 mb-2"
                type="text" />

            <div *ngIf="submitted && !resetSuccessfully" class="d-flex justify-content-center text-danger">Error</div>

            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary confirm-button mt-2">
                  {{ 'registration.resetPassword' | translate }}
                </button>
            </div>
        </form>

        <div *ngIf="submitted && resetSuccessfully" class="form-control auth-form">
            <h4 class="doneSuccessfully" [innerHtml]=" 'registration.resetLinkSent' | translate : {email: email} "> </h4>
        </div>
    </div>
</div>
