<carousel [isAnimated]="true">
  <slide>
    <img src="/assets/img/Slider/photo_7.jpg" class="d-block w-100" >
  </slide>
  <slide>
    <img src="/assets/img/Slider/kanku3.jpg" class="d-block w-100">
  </slide>
  <slide>
    <img src="/assets/img/Slider/444.jpg" class="d-block w-100">
  </slide>
  <slide>
    <img src="/assets/img/Slider/photo_12.jpg" class="d-block w-100">
  </slide>
  <slide>
    <img src="/assets/img/Slider/photo_6.jpg" class="d-block w-100">
  </slide>
  <slide>
    <img src="/assets/img/Slider/photo_8.jpg" class="d-block w-100">
  </slide>
  <slide>
    <img src="/assets/img/Slider/AK-111.jpg" class="d-block w-100">
  </slide>
</carousel>
