<div class="row">
    <div class="col-12">
        <form class="form-control auth-form" (ngSubmit)="login()">
            <h2>{{'registration.title' | translate}}</h2>

            <!-- registration.usernameOrEmail -->
            <label class="bold mt-3" for="email">{{ 'registration.email' | translate | uppercase}}</label>
            <input
                name="email"
                [(ngModel)]="email"
                class="form-control p-2"
                type="text">

            <label class="bold mt-3" for="password">{{ 'registration.password' | translate | uppercase}}</label>
            <input
                name="password"
                [(ngModel)]="password"
                class="form-control p-2 mb-2"
                type="password"
            />

            <div *ngIf="error" class="d-flex justify-content-center text-danger">{{('registration.' + error)| translate}}</div>

            <div class="d-flex justify-content-center align-items-center">
                <button type="submit" class="btn btn-primary confirm-button mt-2">{{'registration.login' | translate}}</button>
                <!-- <a class="mt-4 ml-4" [routerLink]="['/forgot-password']">{{'registration.forgot' | translate}}</a> -->
            </div>

            <div class="d-flex justify-content-center" style="padding-top: 20px;">
                <span>{{'registration.need' |translate}} <a [routerLink]="['../registration']"> {{'registration.singup' | translate}}</a></span>
            </div>
        </form>
    </div>
</div>
