<!-- class="{{ 'card ' + (size == -1 ? 'col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12' : 'col-lg-12')}}"  -->
<div class="current-fight row color-variant-{{colorVariant}} size-variant-{{size != -1 ? 'narrow mb-1' : 'wide mb-3'}}">
    <div 
        class="col-md-12 text-center pt-0 justify-content-center" 
        style="display: flex; padding-left: 0; padding-right: 0;">
        <div 
        class="{{ 'card ' + (size == -1 ? 'col-xl-6 col-lg-8 col-md-12 col-sm-12 col-12' : 'col-lg-12')}}" 
        style="border: 0; padding: 0; overflow: hidden; ">
            <div class="card-header text-light" style="background-color: #405B8F; padding-bottom: 0; border: 0">
                <fullscreen-btn></fullscreen-btn>
                <h4><tatami-title [id]='id' [tatamiType] = "tatamiType"></tatami-title></h4>
            </div>
            <div *ngIf="fights && fights?.length > 0" class="card-body text-dark" style="padding: 0;" >
                <fight
                    [viewType]="'onlineTatamiCurrentFight'"
                    [fight]="fights[0]"
                    [champType]="champType"
                    [champName]="champName"
                ></fight>
            </div>
            <div *ngIf="!fights || fights.length == 0" class="card-body text-dark" style="padding: 0;" >
                <info-box [label]="'tatami.fightsFinished'"></info-box>
                <!-- <info-box {{tatami.fightsFinished}}></info-box> -->
            </div>
        </div>
    </div>
</div>

<div class="row color-variant-{{colorVariant}} size-variant-{{size != -1 ? 'narrow' : 'wide'}}">
  <ng-container *ngFor="let fight of fights; let i = index;">
      <div *ngIf="i > 0"
          style="{{size == -1 ? '' : 'padding-right: 0px; padding-left: 0px;'}}"
          class="{{size == -1 ? 'col-12 col-sm-12 col-md-6 col-lg-4' : 'col-' + (12/size) }}">
          <fight
              [viewType]="'onlineTatamiNextFight'"
              [fight]="fight"
              [headerColor]="i"
              [champType]="champType"
              [champName]="champName">
          </fight>
      </div>
  </ng-container>
</div>

<!-- class="{{size == -1 ? 'col col-sm-12 col-md-6 col-lg-4' : 'col-' + (12/size) }}" -->
