<!-- <div class="d-flex justify-content-between"> -->
    <span NgModel #btns class="d-flex p-1 m-0 justify-content-between">
        <input type="button" value="c1" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        <input type="button" value="c2" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)"
            disabled='disabled' />
        <input type="button" value="c3" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)"
            disabled='disabled' />
        <input type="button" value="G" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        <input type="button" value="S" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        <input type="button" value="V1" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)"
            style="margin-left: 2em" />
        <input type="button" value="V2" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)"
            disabled='disabled' />
        <input type="button" value="I" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        <button id="manage-button-{{akaShiroType}}" (click)="this.confirmWinner()"
            class="btn btn-sm btn-confirm m-0 btn-{{akaShiroType == 'aka' ? 'danger' : 'info'}}">
            <fa-icon [icon]="faTrophy"></fa-icon>
            <span class="btn-label">&nbsp;{{'manage.winner' | translate}}</span>
            <span class="btn-label-details">&nbsp;{{akaShiroType == "aka" ? "AKA" : "SHIRO"}}</span>
        </button>
    </span>

<!-- </div> -->

<!-- <span NgModel #btns>
<div class="row d-flex justify-content-between align-items-center flex-wrap p-0 m-0" style="height: 32px;">
    <div class="col-8 d-flex p-0 m-0"  style="height: 100%;">
        <div class="col-1" style="padding: 1px;">
            <button class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)"> c1</button>
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="c2" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" disabled='disabled' />
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="c3" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" disabled='disabled' />
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="G" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="S" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        </div>
        <div class="col-1">
            <span></span>
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="V1" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="V2" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" disabled='disabled' />
        </div>
        <div class="col-1" style="padding: 1px;">
            <input type="button" value="I" class="btn btn-sm btn-secondary" (click)="changeStateManageBtn($event)" />
        </div>
    </div>
    <div class="col-4 d-flex p-0 m-0"  style="height: 100%;">
        <button
            id="manage-button-{{akaShiroType}}"
            (click)="this.confirmWinner()"
            class="btn btn-sm btn-confirm btn-{{akaShiroType == 'aka' ? 'danger' : 'info'}}"
        >
            <fa-icon [icon]="faTrophy"></fa-icon>
            <span class="btn-label">&nbsp;{{'manage.winner' | translate}}</span>
            <span class="btn-label-details">&nbsp;{{akaShiroType == "aka" ? "AKA" : "SHIRO"}}</span>
        </button>
    </div>
</div>

</span>  -->