.auth-form {
    height: auto;
    margin: 10% auto;
    padding: 5%;
    width: 50%;
    border: 4px solid transparent;
    border-color: rgb(68, 84, 106);
    /* border-image: linear-gradient(to right,#1976D2, #03A9F4); */
    border-image-slice: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.confirm-button {
    padding: 2% 10%;
    background-color: rgb(68, 84, 106);
    border-color: rgb(68, 84, 106);
}

.doneSuccessfully {
  text-align: center;
}

.invalid-feedback {
    display: block;
}
