<div class="row">
    <div class="col-12">
        <form *ngIf="!submitted || resetSuccessfully == false" class="form-control auth-form" (ngSubmit)="login()" style="box-sizing: content-box;">
            <h2> {{ 'registration.resetPassword' | translate }}</h2>
            <label class="bold mt-3" for="{{ 'password' | uppercase}}">{{ 'password' | uppercase}}</label>
            <input
                name="password"
                [(ngModel)]="password"
                class="form-control p-2"
                type="password" 
            />

            <div *ngIf="submitted && (resetSuccessfully == false)" class="invalid-feedback pt-4">
                Error
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <button type="submit" class="btn btn-primary confirm-button mt-2">
                  {{ 'registration.resetPassword' | translate }}
                </button>
            </div>
        </form>

        <div *ngIf="submitted && resetSuccessfully" class="form-control auth-form" (ngSubmit)="login()" style="box-sizing: content-box;">
          <h4 class="doneSuccessfully">{{ 'registration.resetSuccessfully' | translate }}</h4>
        </div>
    </div>
</div>