<div class="container">
  <div class="row d-flex align-items-center p-0 m-0  d-flex align-items-center">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6">
      <h3>
        {{'navbar.referys' | translate}} - {{referys.length}}
      </h3>
    </div>
  </div>

  <div class="box-data" id="box-data">
    <div class="row row-header p-2 m-0">
      <!-- num -->
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-header num">#
        </div>
      </div>

      <!-- name -->
      <div class="col-5 col-sm-5 col-md-5 col-lg-2 p-0 m-0">
        <div class="col-header fio">
          <span>{{'referyTable.fio' | translate}}</span>
        </div>
      </div>

      <!-- coach -->
      <div class="col-2 col-sm-2 col-md-2 col-lg-1 p-0 m-0">
        <div class="col-header gender">
          <span>{{'referyTable.gender' | translate}}</span>
        </div>
      </div>

      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-header grade">
          {{'referyTable.dan' | translate}}
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-1 p-0 m-0">
        <div class="col-header grade">
          {{'dataTable.date' | translate}}
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-1 p-0 m-0">
        <div class="col-header country">
          <span>{{'referyTable.countrykod' | translate}}</span>
        </div>
      </div>
      <!-- category -->
      <div class="col-5 col-sm-5 col-md-5 col-lg-2 p-0 m-0">
        <div class="col-header club">
          <span>{{'referyTable.club' | translate}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-header num">
          <span>{{'referyTable.tatami' | translate}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-header num">
          <span>{{'referyTable.team' | translate}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-header num">
          <span></span>
        </div>
      </div>
    </div>
    <div *ngFor="let refery of referys; let i = index" class="row row-data p-2 m-0"
      [ngClass]="{ 'row-data-gray': i % 2 == 0}">
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-data num">
          <span>{{i + 1}}</span>
        </div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-2 p-0 m-0">
        <div class="col-data fio">
          <span>{{refery.FIO}}</span>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-1 p-0 m-0">
        <div class="col-data gender">
          <span>{{refery.Gender}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-data grade">
          <span>{{refery.DAN}}</span>
        </div>
      </div>
      <div class="col-2 col-sm-2 col-md-2 col-lg-1 p-0 m-0">
        <div class="col-data grade">
          <span *ngIf="refery.DateBR != 'None'">{{refery.DateBR | date: 'dd.MM.yyyy' }}</span>
        </div>
      </div>
      <div class="col-4 col-sm-4 col-md-4 col-lg-1 p-0 m-0">
        <div class="col-data country flex-wrap">
          <img src="{{ flagDir}}/{{refery.countryFlag }}" alt="" height="30">
          <span style="width: 100%;">{{ 'db.country.' + refery.countryId | translate }}</span>
        </div>
      </div>
      <div class="col-5 col-sm-5 col-md-5 col-lg-2 p-0 m-0">
        <div class="col-data club">
          <span>{{refery.ClubName}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-data num">
          <span *ngIf="refery.TatamiId > 0">{{refery.TatamiId}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-data num">
          <span *ngIf="refery.BrigadeId > 0">{{refery.BrigadeId}}</span>
        </div>
      </div>
      <div class="col-1 col-sm-1 col-md-1 col-lg-1 p-0 m-0">
        <div class="col-data num">
          <span *ngIf="refery.BrigadeId > 0">{{getSushin(refery.sushin)}}</span>
        </div>
      </div>
    </div>
  </div>

</div>