<div #btns class="flags {{akaShiroType}}">
    <div  class="ippon  {{marks?.ippon  == true ? 'selected' : ''}}">IPPON</div>
    <div  class="vazari {{marks?.vazari == true ? 'selected' : ''}}">VAZARI</div>
    <div  class="ch1    {{marks?.ch1    == true ? 'selected' : ''}}">CH1</div>
    <div  class="ch2    {{marks?.ch2    == true ? 'selected' : ''}}">CH2</div>
    <div  class="genten {{marks?.genten == true ? 'selected' : ''}}">GENTEN</div>
    <div  class="sikaku {{marks?.sikaku == true ? 'selected' : ''}}">SIKAKU</div>
</div>
